@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/pink';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-width: 380px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.app_redesigned {
  min-width: 380px;
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background-color: var(--bg-redesigned);
}

.content-page {
  display: flex;
}
