.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.loginBtn {
  margin-top: 10px;
  margin-left: auto;
}

.LoginFormRedesigned {
  width: 400px;

  .loginBtn {
    margin-top: 24px;
  }
}
