.skeletonAvatar {
  align-self: center;
}

.headline {
  margin-bottom: 12px;
}

.contentWrapper {
  min-width: 100%;
}

.redesigned {
  .articleImg {
    object-fit: cover;
    width: 100%;
    max-height: 420px;
  }
}
