.Button {
  padding: 8px 16px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--inverted-primary-color);
  border: none;
  outline: none;
  transition: 150ms ease-in;

  &:hover,
  &:focus {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.clear,
.clearInverted {
  padding: 0;
  background: none;
  border: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outlined {
  background: none;
  border: 1px solid var(--primary-color);
}

.outlinedRed {
  color: var(--red-light);
  background: none;
  border: 1px solid var(--red-light);
}

.backgroundInverted {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.background {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}

.squared {
  padding: 0;
  border-radius: 0;

  &.size_m {
    width: calc(var(--font-line-m) * 1.3);
    height: calc(var(--font-line-m) * 1.3);
  }

  &.size_l {
    width: calc(var(--font-line-l) * 1.3);
    height: calc(var(--font-line-l) * 1.3);
  }

  &.size_xl {
    width: calc(var(--font-line-xl) * 1.3);
    height: calc(var(--font-line-xl) * 1.3);
  }
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}
