.link {
  display: flex;
  gap: 20px;
  align-items: center;

  .icon {
    width: 28px;
    height: 28px;
    fill: var(--inverted-primary-color);
  }

  span {
    min-width: 100px;
  }
}

.collapsed {
  span {
    display: none;
  }
}

.linkRedesigned {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

.collapsedRedesigned {
  span {
    display: none;
  }
}

.isActive {
  position: relative;
  background: linear-gradient(90deg, #1d59ff30 0%, #5ed3f300 100%),
    linear-gradient(90deg, #5ed3f330 0%, #5ed3f300 100%);
  border-left: 2px solid white;
}
