.app_dark_theme {
  --bg-color: #484848;
  --inverted-bg-color: #08044e;
  --primary-color: #c5c6cf;
  --secondary-color: #93949b;
  --inverted-primary-color: #05b520;
  --inverted-secondary-color: #048d19;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // skeleton
  --skeleton-color: #aeaeae;
  --skeleton-shadow: #424242;
  --skeleton-bg: #5e5e5e;

  // card
  --card-bg: #605f5f;

  // list box
  --list-box-bg: #605f5f;
}
