.app.light {
  --bg-color: #c0c0c0;
  --inverted-bg-color: #0d0789;
  --primary-color: #0015d7;
  --secondary-color: #001298;
  --inverted-primary-color: #00d720;
  --inverted-secondary-color: #009817;
}
