.app_light_theme {
  --bg-color: #c0c0c0;
  --inverted-bg-color: #0d0789;
  --primary-color: #0015d7;
  --secondary-color: #001298;
  --inverted-primary-color: #00d720;
  --inverted-secondary-color: #009817;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #a7a6a6;
  --skeleton-bg: #cfcfcf;
}
