.app_light_theme {
  --bg-color: #c0c0c0;
  --inverted-bg-color: #0d0789;
  --primary-color: #0015d7;
  --secondary-color: #001298;
  --inverted-primary-color: #00d720;
  --inverted-secondary-color: #009817;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #a7a6a6;
  --skeleton-bg: #cfcfcf;

  // card
  --card-bg: #dbd7d7;

  // list box
  --list-box-bg: #dbd7d7;
}
