.app_pink_theme {
  --bg-color: #d7127b;
  --inverted-bg-color: #fbf4f8;
  --primary-color: #fbf4f8;
  --secondary-color: #c2c2c2;
  --inverted-primary-color: #920fb3;
  --inverted-secondary-color: #6b0a84;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #ffa4cd;
  --skeleton-shadow: #a61060;
  --skeleton-bg: #f5178d;

  // redefine error colors for pink theme for readability
  --red-light: #840505;
  --red-dark: #730000;

  // card
  --card-bg: #ff1592;

  // list box
  --list-box-bg: #ff1592;
}
