.app_pink_theme {
  --bg-color: #d7127b;
  --inverted-bg-color: #fbf4f8;
  --primary-color: #fbf4f8;
  --secondary-color: #c2c2c2;
  --inverted-primary-color: #920fb3;
  --inverted-secondary-color: #6b0a84;
}
