.menu {
  position: absolute;
  z-index: var(--listbox-z-index);
  display: flex;
  flex-direction: column;

  // padding-block: 4px;
  background: var(--bg-redesigned);
}

.item {
  min-width: 100%;
  padding: 4px 16px;
  color: var(--text-redesigned);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
