.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms;
}

.content {
  max-width: 60%;
  padding: 35px 20px;
  border-radius: 20px;
  transition: scale 200ms;
  scale: 0.7;
}

.modalOld {
  .content {
    background-color: var(--bg-color);
  }
}

.modalNew {
  .content {
    background-color: var(--bg-redesigned);
  }
}

.opened {
  z-index: var(--modal-z-index);
  pointer-events: all;
  opacity: 1;

  .content {
    scale: 1;
  }
}

.isClosing {
  opacity: 0;

  .content {
    scale: 0.4;
  }
}
