.options {
  position: absolute;
  z-index: var(--listbox-z-index);
  min-width: 100%;
  background-color: var(--list-box-bg);
  box-shadow: 4px 4px 8px var(--skeleton-shadow);
}

.option {
  padding: 4px 8px;
  cursor: pointer;
}
