.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--inverted-bg-color);
}

.NavbarRedesigned {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
}
