.starIcon {
  cursor: pointer;
  fill: none;

  & path {
    fill: none;
  }
}

.hovered {
  fill: var(--primary-color);

  & path {
    fill: var(--primary-color);
  }
}

.isSelected {
  cursor: auto;
}
