.addonLeft,
.addonRight {
  display: flex;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  display: flex;
  gap: 8px;
  align-items: center;
  max-height: 32px;
  padding: 8px 16px;
  color: var(--text-redesigned);
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.clear {
  padding: 0;
  background: none;
  border: none;
}

.outlined {
  background: none;
  border: 1px solid var(--accent-redesigned);
}

.filled {
  background: var(--light-bg-redesigned);
  border-radius: 34px;
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
