.NotificationItem {
  width: 100%;
  white-space: nowrap;
}

.text {
  overflow: hidden;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.link {
  width: 100%;
  transition: 200ms;

  &:hover,
  &:focus {
    filter: brightness(1.4);
  }
}
