.NotificationItem {
  width: 200px;
  white-space: nowrap;
}

.text {
  overflow: hidden;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.link {
  border-radius: 12px;
  transition: 200ms;

  &:hover,
  &:focus {
    filter: brightness(1.4);
    box-shadow: 2px 2px 5px var(--skeleton-shadow);
  }
}
