.ProfileCard {
  width: 100%;
  padding: 30px;
  border: 2px solid var(--inverted-bg-color);
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
