.Dropdown {
  position: relative;
}

.button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.menu {
  position: absolute;
  z-index: var(--listbox-z-index);
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  border: 1px solid var(--primary-color);
}

.item {
  min-width: 100%;
  padding: 4px 8px;
  color: var(--primary-color);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.active {
  background: var(--inverted-primary-color);
}

.topLeft {
  .menu {
    right: 0;
    bottom: 100%;
  }
}

.topRight {
  .menu {
    bottom: 100%;
    left: 0;
  }
}

.bottomLeft {
  .menu {
    top: 100%;
    right: 0;
  }
}

.bottomRight {
  .menu {
    top: 100%;
    left: 0;
  }
}
