.Skeleton {
  width: 70px;
  height: 70px;
  background: var(--skeleton-bg);
  background: linear-gradient(
    97deg,
    var(--skeleton-bg) 8%,
    var(--skeleton-color) 18%,
    var(--skeleton-bg) 33%
  );
  background-size: 200% 100%;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
